.main-box {
  height: 100vh;
  width: 400px;
  margin: 0 auto;
  border: solid 2px #9e9e9e;
  padding: 0 15px;
  .list-box {
    height: calc(100vh - 110px);
    overflow: auto;
    border: solid #9e9e9e7d;
    border-radius: 5px;
    padding: 0 5px;
    .list-item {
      &.self {
        text-align: right;
      }
    }
  }
  mat-form-field {
    width: 100%;
  }
}
